@use '../utils' as *;

/*----------------------------------------*/
/*  25. Dark Light CSS START
/*----------------------------------------*/


// dark and light switcher  css

.mode-switch-wrapper .label i {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 53px;
    border-radius: 50%;
    color: var(--tp-heading-primary);
    transition: .3s;
    cursor: pointer;
    position: relative;
    background: transparent;
    z-index: 1;
    border: 1px solid var(--tp-border-2);
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(245.39deg, #1C99FE -0.28%, #7644FF 47.72%, #FD4766 91.3%);
        background-size: 200% 100%;
        border-radius: 50%;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }
    &:hover{
        color: var(--tp-common-white);
        border-color: transparent;
        &::after{
            visibility: visible;
            opacity: 1;
        }
    }
}
    

.checkbox {
    opacity: 0;
    position: absolute;
}
  
    
.mode-switch-wrapper-2{
    & .label i{
        background: none;
        border: 0;
        height: auto;
        width: auto;
        &:hover{
            background: none;
            color: var(--tp-theme-1);
        }
    }
}

.tp-light-icon{
    display: none;
}


// tp-active-dark css
[data-theme="dark"] {

    .tp-dark-icon{
        display: none;
    }

    .tp-light-icon{
        display: inline-block;
    }

    .tp-header-action-6 ul li .mode-switch-wrapper .label i{
        color: #fff;
    }
    *::-moz-selection {
        background: var(--tp-common-white);
        color: var(--tp-common-black);
        text-shadow: none;
    }
    ::-moz-selection {
        background: var(--tp-common-white);
        color: var(--tp-common-black);
        text-shadow: none;
    }
    ::selection {
        background: var(--tp-common-white);
        color: var(--tp-common-black);
        text-shadow: none;
    }

    background: var(--tp-common-black);
    
    & p{
        color: var(--tp-grey-5);
    }

    // header css
    .logo-white{
        display: block;
    }
    .logo-dark{
        display: none;
    }
    .tp-header-area {
        & .tpmenu ul li a {
            color: var(--tp-common-white);
        }
        & .tpmenu ul li.has-dropdown > a::after {
            color: var(--tp-common-white);
        }
        & .tp-header-action ul li button {
            color: var(--tp-common-white);
        }
        & .mode-switch-wrapper .label{
            color: var(--tp-common-white);
        }
    }
    .tpmenu ul li .submenu li:hover > a {
        color: var(--tp-common-white);
    }
    .header-sticky{
        background: #222;
    }
    .inner-border{
        border-bottom: 1px solid #181818;
    }
    .mode-switch-wrapper .label i{
        color: var(--tp-common-white);
    }


    // tp hero css
    .tphero-area{
        background: var(--tp-common-black-soft);
    }
    .tpdesign-sub-title{
        color: var(--tp-common-white);
    }
    .down-arrow a{
        background: var(--tp-common-black-soft);
        color: var(--tp-common-white);
        transition: .3s;
    }
    .down-arrow a:hover {
        background: linear-gradient(260.16deg, #1C99FE 9.94%, #7644FF 54.82%, #FD4766 95.56%);
        color: var(--tp-common-white);
    }


    //grey bg
    .grey-bg{
        background: var(--tp-common-black);
    }


    // tpabout-area
    .tp-title{
        color: var(--tp-common-white);
    }
    .about-des-text {
        color: #A0A2A4;
    }


    // tpservices area
    .tpservices-area{
        background: var(--tp-common-black-soft);
        position: relative;
        z-index: 1;
    }
    .tpservices-2{
        background: var(--tp-common-black-soft);
        border-color: #313333;
    }
    .tpservices__title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tpservices__btn a span{
        background: var(--tp-common-white);
    }

    
    //tpbrand-area
    .tpbrand-area{
        background: var(--tp-common-black-soft);
    }

    // tpproject-area
    .tpproject-area{
        background: var(--tp-common-black-soft);
    }
    .ts-tabs button{
        background: var(--tp-common-black);
        color: var(--tp-common-white);
        border: 1px solid #313333;
        &:hover{
            background: var(--tp-theme-1);
            border-color: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
    .tp-arrow-style button.slick-arrow{
        background: var(--tp-common-black-soft);
        color: var(--tp-common-white);
        border: 1px solid #313333;
        &:hover{
            background: var(--tp-theme-1);
            border-color: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
    .client__nav {
       background: var(--tp-common-black-soft);
       border: 1px solid var(--tp-border-3);
    }
    .slick-current .client__nav {
        border-color: var(--tp-theme-1);
      }
    .client__nav-title{
        color: var(--tp-common-white);
    }
    .client__review{
        background: var(--tp-common-black-soft);
        border: 1px solid var(--tp-border-3);
    }
    .client__review p{
        color: var(--tp-common-white);
    }

    //tpagency-area
    .tpagency__slider button.slick-arrow{
        background: var(--tp-common-black);
        color: var(--tp-common-white);
        &:hover{
            background: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
    .tpagency__down-btn a{
        background: var(--tp-common-black);
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-common-white);
            background: var(--tp-theme-1);
        }
    }
    // services-area
    .tpservices-3{
        background: var(--tp-common-black);
        border: 1px solid var(--tp-border-3);
    }
    //fact-ara
    .tpfact-wrapper{
        background: var(--tp-common-black-soft);
    }
    .tpfact__item{
        background: var(--tp-common-black);
    }
    .fact-title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }

    // tpfrn-area
    .tpfrn-content{
        background: transparent;
        & p{
            color: var(--tp-common-white);
        }
    }
    .tpfrn-content-2{
        background: transparent;
    }
    .tpfrn-sub-title{
        color: var(--tp-common-white);
    }


    // tpfrn-about-area
    .tpfrn-about-area {
        background: var(--tp-common-black-soft);
    }
    .tpfrn-about-title{
        color: var(--tp-common-white);
    }
    .tpfrn-about p{
        color: #A0A2A4;
    }
    // tpfrn-services-area
    .tpfrn-services-area{
        background: var(--tp-common-black-soft);
    }
    .tpservices-4{
        background: var(--tp-common-black-soft);
    }
    .tpservices__btn a svg * {
        fill: #5A5B5B;
        opacity: 100%;
    }
    .tpservices__btn a:hover svg * {
        fill: var(--tp-common-white);
        opacity: 100%;
    }
    .tpfrn-bg-image::before {
        background: none;
        opacity: 0.6;
    }
    .tpfrn-area-3{
        background: var(--tp-common-black-soft);
    }
    .tpsec-title{
        color: var(--tp-common-white);
    }
    .trfrn-arrow-style{
        &:hover{
            color: var(--tp-common-white);
        }
    }

    //tpfrn-project-area
    .tpfrn-project-area{
        background: var(--tp-common-black-soft);
    }
    .tpfrn-project-title{
        color: var(--tp-common-white);
    }
    .tpfrn-project-title a{
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }
    // tpfrn-testimonial
    .client-designation{
        color: #A0A2A4;
    }
    .client .review-text{
        color: var(--tp-common-white);
    }


    //tp-frn-cta
    .tpcta-area{
        background: #000;
    }
    .tp-border-btn{
        border-color: var(--tp-common-white);
        color: var(--tp-common-white);
        &:hover{
            border-color: var(--tp-theme-1);
        }
    }
    
    //tpbs-area
    .tpbs-title{
        color: var(--tp-common-white);
    }
    .tps-about-wrap p{
        color: #A0A2A4;
    }
    .features__list-text p{
        color: var(--tp-common-white);
    }

    //tpbs-about-area
    .tpbs-about-area{
        background: var(--tp-common-black-soft);
    }
    .tpbsvideo-content p{
        color: #A0A2A4;
    }
    //tpbs-services
    .tpbs-services-area{
        background: var(--tp-common-black-soft); 
    }
    .tpservices-tpbs{
        background: var(--tp-heading);
        border: 1px solid var(--tp-border-3);
        & p{
            color: #A0A2A4;
        }
    }
    .tpbs-btn-2{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tpbs-video-wrapper{
        background: var(--tp-common-black);
    }
    .tpservices__btn a{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    
    //tpbs-project-area
    .tpbs-project-area{
        background: var(--tp-common-black-soft); 
    }
    .tpbs-project__title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    //tpbs-cta area
    .tpbs-cta-area{
        background: var(--tp-common-black-soft); 
    }
    .tpbs-title-df{
        color: var(--tp-common-white);
    }
    //tpbs-brand
    .tpbs-brand{
        background: var(--tp-common-black-soft); 
    }
    //tpbs-blog 
    .tpblog__title{
        color: var(--tp-common-white);
    }
    .tpblog__title a {
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }
    .tpblog__catagory{
        color: var(--tp-common-white);
    }
    .tpblog__date{
        color: var(--tp-common-white);
    }
    //tp-minimal__area
    .tp-minimal__design-title{
        color: var(--tp-common-white);
    }
    .tp-minimal__design-title span {
        color: transparent;
        -webkit-text-stroke: 1.2px var(--tp-common-white);
    }
    .tp-minimal__design .tpds-text{
        color: var(--tp-common-white);
    }
    .tpds-title{
        color: var(--tp-common-white);
    }
    .tpds-title span{
        color: var(--tp-common-white);
    }
    .tpproject-5 .tpproject__btn a i{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tp-minimal__design .tpds-text-2{
        color: var(--tp-common-white);
    }
    .tp-minimal__design-wrapper-2 p{
        color: var(--tp-common-white);
    }
    .tpservices-info p{
        color: var(--tp-common-white);
    }
    .tp-minimal__design-social a{
        background: var(--tp-common-black-soft);
        color: #939393;
        &:hover{
            color: var(--tp-common-white);
        }
    }
    //tp-mds-services
    .tp-mds-services{
        background: var(--tp-common-black);
    }
    .tpservices-border {
        border-right: 1px solid var(--tp-common-black);
    }
    .tp-mds-services:hover {
        transform: translateY(20px);
        background: var(--tp-common-black-soft);
    }

    //tp-video area
    .tpvideo-area-df.grey-bg{
        background: var(--tp-heading-primary);
    }

    //tpprojects
    .tpproject-area-minimal{
        background: var(--tp-common-black);
    }
    .tpproject__menu button{
        color: var(--tp-common-white);
    }
    .tpproject__menu button.active {
        color: var(--tp-theme-1);
    }
    .tpproject__content{
        background: var(--tp-heading-primary);
    }
    .tpproject__title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tpproject__btn a svg * {
        fill: #5A5B5B;
        opacity: 100%;
    }
    .tpproject__btn:hover a svg * {
        fill: var(--tp-common-white);
        opacity: 100%;
    }
    //tp-testimonial
    .tptestimonial-area.grey-bg{
        background: var(--tp-heading-primary);
    }
    .tpm-testimonial {
        background: var(--tp-common-black);
        border: 1px solid #313132;
        & p{
            color: #A0A2A4;
        }
    }
    .client__name{
        color: var(--tp-common-white);
    }
    //tpmblog
    .tpmblog-item:hover {
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
        transition: 0.3s;
        background: var(--tp-heading-primary);
    }
    .tpmblog-title{
        color: var(--tp-common-white);
    }
    .tpmblog-item p {
        color: var(--tp-grey-5);
    }
    //tp-creative-area
    .tp-creative-hero__title{
        color: var(--tp-common-white);
    }
    .tp-creative-hero__title span {
        color: transparent;
        -webkit-text-stroke: 2px var(--tp-common-white);
    }
    .tpcr-btn{
        color: var(--tp-common-white);
    }
    .tp-creative-hero-image {
        background: var(--tp-heading-primary);
    }
    //tp-creative-lists
    .tp-creative__menu {
        border-top: 1px solid var(--tp-border-4);
    }
    .tp-creative__menu-grid{
        border-top: 0;
    }
    .tp-creative__menu-grid {
        border-bottom: 1px solid var(--tp-border-4);
    }
    .tp-creative__menu-grid .active {
        color: var(--tp-theme-1);
    }
    .tp-creative__menu button {
        border: 1px solid var(--tp-border-4);
    }
    //tpg-creative-area
    .tp-gcreative-title{
        color: var(--tp-common-white);
    }
    .tp-creative__menu .tp-cr-btn{
        border: none;
        color: var(--tp-common-white);
    }
    .tp-creative__menu .tp-cr-btn.active{
        color: var(--tp-theme-1);
    }

    //tp-gcreative-hero-area
    .tp-gcreative-title span{
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }

    //tp-photograper-hero-area
    .tp-photograper-cta-title{
        color: var(--tp-common-white);
    }
    .tpbs-scroll-btn{
        background: var(--tp-heading-primary);
        color: var(--tp-common-white);
        border-color: var(--tp-heading-primary);
        &:hover{
            color: var(--tp-common-white);
            background: var(--tp-theme-1);
            border-color: var(--tp-theme-1);
        }
    }
    .tpbs-scroll-btn-df{
        background: var(--tp-common-white);
        & i{
            color: var(--tp-heading-primary);
        }
        &:hover is{
            color: var(--tp-common-white);
        }
    }
    // tp-modal area
    .tpmodel-hero-title{
        color: var(--tp-common-white);
    }
    .tpmodel-hero-contcat-info a{
        color: var(--tp-common-white);
    }

    //footer
    .tpcopyright-border {
        border-top: 1px solid var(--tp-border-4);
    }
    .tpcopyright-area-2 p {
        color: var(--tp-common-white);
    }
    .ft-social-2 a:hover {
        background: none;
        color: var(--tp-theme-1);
    }

    // tp-furniture area
    .tpfurniture-title{
        color: var(--tp-common-white);
    }
    .tp-ts-btn:hover {
        color: var(--tp-common-white);
    }
    .tpfurniture-title span{
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }
    .tpfurniture-contact-title{
        color: var(--tp-common-white);
    }
    .tpbs-project__title-2{
        color: var(--tp-common-white);
    }
    .tpbs-project__title-2 a{
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }
    .tp-footer-sm-title{
        color: var(--tp-common-white);
    }

    //tp-furniture footer
    .tp-footer-social-list a{
        color: var(--tp-common-white);
    }
    .footer__widget p{
        color: var(--tp-grey-5);
    }


    //tppoletics-area
    .tppoletics-title{
        color: var(--tp-common-white);
    }
    .tppoletics-sd-title{
        -webkit-text-stroke: 1.2px var(--tp-common-white);
        -webkit-background-clip: text;
    }
    .tppoletics-text{
        color: var(--tp-common-white);
    }

    //biograpy-area
    .bio-wrapper.grey-bg{
        background: var(--tp-common-black-soft);
    }
    .biograpy-title{
        color: var(--tp-common-white);
    }
    .biograpy-area.white-bg{
        background: var(--tp-common-black);
    }
    .vote-area.white-bg{
        background: var(--tp-common-black);
    }
    .vote-title{
        color: var(--tp-common-white);
    }
    .vote-sm-title{
        color: var(--tp-common-white);
    }
    .border-top {
        border-top: 1px solid var(--tp-border-4) !important;
    }
    //tppo-services
    .tppo-services-area.grey-bg{
        background: var(--tp-common-black-soft);
    }
    .tp-political-project.grey-bg{
        background: var(--tp-common-black-soft);
    }
    .tpevent-area.grey-bg {
        background: var(--tp-common-black-soft);
    }
    // tp-event
    .tpevent-item{
        background: var(--tp-common-black);
    }
    .tpevent-title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tpevent-sm-title{
        color: var(--tp-common-white);
    }
    .tpevent-title a {
        background-image: linear-gradient(#FD4766, #FD4766), linear-gradient(#FD4766, #FD4766);
    }
    //tp-testimonial-css
    .tppo-testimonial-area.grey-bg{
        background: var(--tp-common-black-soft);
    }
    .tppo-testimonial-wrapper.white-bg{
        background:  var(--tp-common-black);
    }
    .tppo-testimonial-wrapper button.slick-arrow{
        &:hover{
            color: var(--tp-common-white);
        }
    }
    //tppoblog css
    .tppoblog-area.grey-bg{
        background: var(--tp-common-black-soft);
    }
    .tpblog__content-2 {
        background: var(--tp-common-black);
    }
    .tpfooter-sm-title-2{
        color: var(--tp-common-white);
    }
    .tpfooter-sd-title{
        color: var(--tp-common-white);
    }
    // about page css
    .tpabout-xd-title{
        color: var(--tp-common-white);
    }
    .tpabout-xs-title{
        color: var(--tp-common-white);
    }
    //fact css
    .tpfact-border-right {
        border-right: 1px solid var(--tp-border-4);
    }
    .tpfact__item-df {
        border-top: 1px solid var(--tp-border-4);
    }
    //testimonial css
    .tpbs-review p{
        color: var(--tp-common-white);
    }
    // award css
    .tp-award-area{
        background: var(--tp-common-black-soft);
    }
    .award-title{
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .tp-award-item {
        border: 1px solid var(--tp-border-4);
    }
    .award-icon {
        border-left: 1px solid var(--tp-border-4);
    }
    .award-icon i:hover {
        color: var(--tp-common-white);
    }
    //services page css
    .tp-photograper-cta-2{
        background-color: var(--tp-common-black-soft);
    }
    .sd-banner-sm-item p {
        color: var(--tp-common-white);
    }
    .aboutme-feature-list ul li p {
        color: var(--tp-common-white);
    }
    //aboutme css
    .getin-touch-area {
        background-color: var(--tp-common-black-soft);
    }
    .aboutme-social a {
       border-color: var(--tp-border-4);
    }
    .ab-tabs {
        border-color: var(--tp-border-4);
    }
    .ab-tabs .ab-tab-item {
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        background-color: transparent;
        box-shadow: none;
    }
    .ab-tabs .ab-tab-item.active {
        color: var(--tp-theme-1);
    }
    .tab-pane-title {
        color: var(--tp-common-white);
    }
    .skill-item-title {
        color: var(--tp-common-white);
    }
    .edu-exp-title {
        color: var(--tp-common-white);
    }
    .get-in-touch-wrapper {
        border-color: var(--tp-border-4);
    }
    .tp-contact-form-field input, .tp-contact-form-field select, .tp-contact-form-field textarea {
        background: #FBFBFB1C;
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }

    //services page 2 css
    .services-list-area-2{
        background-color: var(--tp-common-black-soft);
    }
    // services page 3 css
    .tpfrn-testimonial-area-2{
        background-color: var(--tp-common-black-soft);
    }

    //pricing-page css
    .pricing-plan-item {
        background-color: var(--tp-common-black-soft);
    }
    .plan-list ul li {
        color: var(--tp-common-white);
    }
    .plan-list ul .disable {
        color: var(--tp-grey-5);
    }
    .plan-price {
        background: var(--tp-common-black);
    }
    .plan-price .price {
        color: var(--tp-common-white);
    }
    .tp-sqbtn-border {
        color: var(--tp-common-white);
        border: 2px solid var(--tp-common-black);
        &:hover{
            border-color: var(--tp-theme-1);
        }
    }
    .tp-sqbtn-active {
        &:hover{
            color: var(--tp-common-white);
        }
    }
    // services-details page css
    .services-details-area{
        background-color: var(--tp-common-black-soft);
    }
    .services-d-title {
        color: var(--tp-common-white);
    }
    .services-sm-title {
        color: var(--tp-common-white);
    }
    .step-title {
        color: var(--tp-common-white);
    }
    .step-number-wrapper::after {
        background: var(--tp-common-black-soft);
    }
    // project list area css
    .project-list-area{
        background: var(--tp-common-black-soft);
    }
    //pagination css
    .basic-pagination ul li a, .basic-pagination ul li span {
        border: 2px solid var(--tp-border-4);
        &:hover{
            border-color: var(--tp-theme-1);
        }
    }
    .basic-pagination ul li span.current {
        border-color: var(--tp-theme-1);
    }

    //portfolio 34 css
    .tp-creative-lists-area{
        background: var(--tp-common-black-soft);
    }
    //portfolio 4 css
    .tp-furniture-project-2{
        background: var(--tp-common-black-soft);
    }
    // project-details css
    .project-details-area{
        background: var(--tp-common-black-soft);
    }
    .details-nav-item a {
     color: var(--tp-common-white);
    }
    //faq page css
    .faq-area{
        background: var(--tp-common-black-soft);
    }
    .fq-button {
        color: var(--tp-common-white);
    }
    .fq-item {
       border-color: var(--tp-border-4);
    }
    .accordion-flush .fq-item:last-child {
        border-color: var(--tp-border-4);
    }
    //team page css
    .team-area{
        background: var(--tp-common-black-soft);
        position: relative;
        z-index: 1;
    }
    //team page 2 css
    .tpteam-title {
        color: var(--tp-common-white);
    }
    //pricing-plan page css
    .pricing-plan-area-2{
        background: var(--tp-common-black-soft);
    }
    .pr-plan-item-border {
        border-color: var(--tp-border-4);
    }
    //privacy-page css
    .privacy-content-area{
        background: var(--tp-common-black-soft);
    }
    .privacy-title {
        color: var(--tp-common-white);
    }
    .privacy-nav ul li a {
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .privacy-nav-wrapper::before {
        background: var(--tp-border-4);
    }
    //job-list page css
    .job-list-area{
        background: var(--tp-common-black-soft);
    }
    .job-list-item {
        border-color: var(--tp-border-4);
    }
    .job-list-title {
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .job-list-sm-title {
        color: var(--tp-common-white);
    }
    .job-type {
        color: var(--tp-common-white);
    }
    // job-detais page css
    .job-details-area{
        background: var(--tp-common-black-soft);
    }
    .jobd-state {
       border-color: var(--tp-border-4);
    }
    .job-dtitle {
        color: var(--tp-common-white);
    }
    .job-dtext a {
        color: var(--tp-common-white);
    }
    .job-feature-list ul li b {
        color: var(--tp-common-white);
    }
    // shop page css
    .shop-area {
        background: var(--tp-common-black-soft);
    }
    .shop-meta {
        border-color: var(--tp-border-4);
    }
    .search-result {
        color: var(--tp-common-white);
    }
    .shop-nav-item i {
        color: var(--tp-common-white);
    }
    .select-option .nice-select {
        color: var(--tp-common-white);
        background: none;
      .list{
        background: var(--tp-common-black-soft);
        color: var(--tp-common-white);
      }
    }
    .select-option .nice-select::after {
        border-color: var(--tp-common-white);
    }
    .product-title {
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    // product details page css
    .product-details{
        background: var(--tp-common-black-soft);
    }
    .product-dtitle {
        color: var(--tp-common-white);
    }
    .product-dprice {
        color: var(--tp-common-white);
    }
    .product-model-title {
        color: var(--tp-common-white);
    }
    .product-quantity-title {
        color: var(--tp-common-white);
    }
    .cart-plus-minus input {
        color: var(--tp-common-white);
        border-color: var(--tp-border-4);
    }
    .cart-plus-minus .qtybutton {
        color: var(--tp-common-white);
    }
    .tp-sqbtn-border-2 {
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:hover{
            border-color: var(--tp-theme-1);
        }
    }
    .tp-sqbtn-active-2 {
        &:hover{
            color: var(--tp-common-white);
        }
    }
    .model-list a {
        background: var(--tp-common-black);
    }
    .product-tabs .product-tab-button {
        border-color: var(--tp-border-4);
    }
    .product-additional-info{
        background: var(--tp-common-black-soft);
    }
    .product__desc-info ul li:nth-child(2n+1) {
        background: var(--tp-common-black);
    }
    .product__desc-info ul li h6 {
        color: var(--tp-common-white);
    }
    .product__desc-info ul li span {
        color: var(--tp-common-white);
    }
    .review-des-infod h6 {
        color: var(--tp-common-white);
    }
    .review-count {
        color: var(--tp-common-white);
    }
    .comment-title h3 {
        color: var(--tp-common-white);
    }
    .comment-rating span {
        color: var(--tp-common-white);
    }
    .comment-agree label {
        color: var(--tp-common-white);
    }
    .related-product-area{
        background: var(--tp-common-black-soft);
    }
    .related-product-title {
        color: var(--tp-common-white);
    }
    .comment-input input {
        background: var(--tp-common-black);
        border-color: var(--tp-common-black);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .comment-textarea {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    // blog grid css
    .blog-grid-area{
        background: var(--tp-common-black-soft);
    }
    .blog-grid-title {
        color: var(--tp-common-white);
    }
    .blog-grid-title a {
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    }
    .blog-grid-date i {
        color: var(--tp-common-white);
    }
    // bolg page css
    .postbox__area{
        background: var(--tp-common-black-soft);
    }
    .postbox__title {
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .sidebar-title {
        color: var(--tp-common-white);
    }
    .widget {
       border-color: var(--tp-border-4);
    }
    .n-sidebar-search input {
      background: var(--tp-common-black);
      color: var(--tp-common-white);
    }
    .feed-content h6 {
        color: var(--tp-common-white);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .single-category {
        border-color: var(--tp-border-4);
    }
    .single-tag {
        border-color: var(--tp-border-4);
    }
    //help-center page css
    .search-area {
        background: var(--tp-common-black-soft);
    }
    .search-wrapper {
        border-color: var(--tp-border-4);
    }
    .m-sidebar-search input {
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
    }
    // blog-details page css
    .postbox__area{
        background: var(--tp-common-black-soft);
    }
    .postbox__title-df {
        color: var(--tp-common-white);
    }
    .active-dark-mode p {
        color: var(--tp-common-white);
    }
    .postbox__title-sm {
        color: var(--tp-common-white);
    }
    .blogd-tag-title {
        color: var(--tp-common-white);
    }
    .tags-list a {
        border-color: var(--tp-border-4);
        &:hover{
            border-color: var(--tp-theme-1);
        }
    }
    .bolgd-tags-wrapper {
        border-color: var(--tp-border-4);
    }
    .postbox__comment-title {
        color: var(--tp-common-white);
    }
    .postbox-share-title {
        color: var(--tp-common-white);
    }
    .postbox__comment-name h5 {
        color: var(--tp-common-white);
    }
    .postbox__comment-reply a {
        background: var(--tp-common-black);
        &:hover{
            background: var(--tp-theme-1);
        }
    }
    .postbox__comment-form-title {
        color: var(--tp-common-white);
    }
    .postbox__comment-input input, .postbox__comment-input textarea {
        background: var(--tp-common-black);
        border-color: var(--tp-common-black);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    // contact page
    .contact-darea{
        background: var(--tp-common-black-soft);
    }
    .conatct-sm-title {
        color: var(--tp-common-white);
    }
    .contact-item {
        background: var(--tp-common-black);
    }
    .contact-item-title {
        color: var(--tp-common-white);
    }
    .contact-item-last .contact-icon i {
        color: var(--tp-theme-1);
    }
    // sign css
    .sign-area{
        background: var(--tp-common-black-soft);
    }
    .sign-title {
        color: var(--tp-common-white);
    }
    .sign-wrapper {
        border-color: var(--tp-border-4);
    }
    .sign__social {
        border-color: var(--tp-border-4);
    }
    // 404 page css
    .error-area{
        background: var(--tp-common-black-soft);
    }
    .error-title {
        color: var(--tp-common-white);
    }
    //cart -page css
    .cart-area{
        background: var(--tp-common-black-soft);
    }
    .table td, .table th {
        color: var(--tp-common-white);
    }
    .table-content table th, .table-content table td {
        border-color: var(--tp-border-4);
    }
    .table-content .table > :not(:last-child) > :last-child > * {
        border-color: var(--tp-border-4);
    }
    .table-content .table > :not(:first-child) {
        border-color: var(--tp-border-4);
    }
    .table-content table {
        border-color: var(--tp-border-4);
    }
    #coupon_code {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .cart-page-total > ul > li {
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
    }
    // checkout page css
    .checkout-area, .coupon-area{
        background: var(--tp-common-black-soft);
    }
    .coupon-accordion h3 {
        background-color: var(--tp-common-black-soft);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
    }
    .coupon-accordion span {
        &:hover{
            color: var(--tp-common-white);
        }
    }
    .coupon-content {
        border-color: var(--tp-border-4);
    }
    .coupon-info p.form-row-first input, .coupon-info p.form-row-last input {
      background: var(--tp-common-black);
      border-color: var(--tp-border-4);
      color: var(--tp-common-white);
      &:focus{
          border-color: var(--tp-theme-1);
      }
    }
    p.checkout-coupon input[type="text"] {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .checkout-form-list input[type="text"], .checkout-form-list input[type="password"], .checkout-form-list input[type="email"] {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .country-select .nice-select {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .nice-select .option {
        background: var(--tp-common-black);
        color: var(--tp-common-white);
    }
    .checkbox-form h3 {
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
    }
    .order-notes textarea {
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
        &:focus{
            border-color: var(--tp-theme-1);
        }
    }
    .ship-different-title h3 label {
        color: var(--tp-common-white);
    }
    .your-order h3 {
        color: var(--tp-common-white);
        border-color: var(--tp-border-4);
    }
    .your-order-table table th, .your-order-table table td {
        border-color: var(--tp-border-4);
    }
    .your-order-table table tr.cart_item:hover {
        background: var(--tp-common-black-soft);
    }
    .payment-method .accordion-body {
        background: var(--tp-common-black-soft);
    }
    .payment-method .accordion-button:not(.collapsed) {
        background: var(--tp-common-black-soft);
    }
    .payment-method .accordion-button {
        background: var(--tp-common-black-soft);
        color: var(--tp-common-white);
    }
    .payment-method .accordion-item {
        border-color: var(--tp-border-4);
    }
    .your-order {
        border-color: var(--tp-border-4);
    }
    // header menu css
    .tpmenu ul li .submenu {
        background: var(--tp-common-black);
    }
    .tpmenu ul li .submenu li a {
        color: #A8B0C3;
        &:hover{
            color: var(--tp-theme-1);
            background-color: var(--tp-common-black-soft);
        }
    }
    .tpmenu ul li .megamenu {
        background: var(--tp-common-black);
    }
    .tpmenu ul li .megamenu li a {
        color: #A8B0C3;
        &:hover{
            color: var(--tp-theme-1);
            background-color: var(--tp-common-black-soft);
        }
    }

    .cart-page-total > h2{
        color: #fff;
    }

    .cart-page-total > ul{
        border-color: var(--tp-border-4);
    }

    .tp-header-action-coming-soon{
        & ul li button {
            border: 1px solid var(--tp-border-2);
            color: var(--tp-heading-primary) !important;

            &:hover{
                color: var(--tp-common-white) !important;
                border-color: var(--tp-theme-1);
            }
        }
    }

    .cm-subscribe{
        & .m-sidebar-search input{
            color: var(--tp-common-black);
        }
    }

    .tp-dot-style .swiper-pagination-bullets .swiper-pagination-bullet-active{
        box-shadow: inset 0 0 0 1px var(--tp-theme-1);
    }

    .footer-copyright-text p{
        color: var(--tp-common-white);
    }
    .tpfrn-content-inner{
        background-color: var(--tp-common-black);
    }

    .comment-input input,
    .comment-textarea{
        color: var(--tp-common-white);
    }
    .sign-input label{
        color: var(--tp-common-white);
    }
    .sign-input input{
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);
        color: var(--tp-common-white);
    }

    .sign__agree .switch{
        background: var(--tp-common-black);
        border-color: var(--tp-border-4);

        &::before{
            background-color: var(--tp-border-4);
        }
    }
    .sign-line{
        background-color: var(--tp-border-4);
    }

    .tp-btn-black{
        &:hover{
            color: var(--tp-common-white);
        }
    }

    .blog-item-15{
        background-color: #222;
    }

    .blog-meta-15 .blog-category{
        color: var(--tp-common-white);
    }

    .blog-title-15{
        color: var(--tp-common-white);
    }

    .privacy-nav .nav-tabs .nav-item .nav-link{
        color: var(--tp-grey-5);

        &.active,
        &:hover{
            color: var(--tp-theme-1);
        }
    }

    .blog__area{
        background-color: #181818;
    }

    .blog-slider .swiper-pagination-bullet{
        background-color: #CFCFCF;
    }
    .blog-slider .swiper-pagination-bullet.swiper-pagination-bullet-active{
        box-shadow: inset 0 0 0 1px var(--tp-theme-1);
        background-color: transparent;
    }

    .blog-slider-nav-1 button{
        background: var(--tp-common-black-soft);
        color: var(--tp-common-white);
        border: 1px solid #313333;

        &:hover{
            color: var(--tp-common-white);
            background-color: var(--tp-theme-1);
            border-color: var(--tp-theme-1);
        }
    }

    .cta-area-3{
        background-color: #1F1F1F;
    }

    .tp-photograper-portfolio-text{
        color: var(--tp-common-white);
    }

    .privacy-item ul li{
        color: var(--tp-grey-5);
    }

    .privacy-nav .nav-tabs::before {
        background: #6C6C6C;
    }

    .hero-bg-6::after {
        background-color: var(--tp-heading-primary);
    }

    .experience-title{
        color: var(--tp-common-white);
    }
    
    .experience-sm-item{
        border-color: #262626;
    }


    .contact__form-input{
        & input,
        & textarea{
            background: #141515;
            border-color: #141515;
            color: #fff;

            &:focus{
                border-color: var(--tp-theme-1);
            }
        }
        &-2{
            & input,
            & textarea{
                background: #202020;
                border-color: #202020;
                color: #fff;

                &:focus{
                    border-color: var(--tp-theme-1);
                }
            }
        }
    }
    .job-details-contact{
        .contact__form-input{
            & input,
            & textarea{
                background: #202020;
                border-color: #202020;
                color: #fff;
    
                &:focus{
                    border-color: var(--tp-theme-1);
                }
            }
            &-2{
                & input,
                & textarea{
                    background: #202020;
                    border-color: #202020;
                    color: #fff;
    
                    &:focus{
                        border-color: var(--tp-theme-1);
                    }
                }
            }
        }
    }
    .about-me-form{
        .contact__form-input{
            & input,
            & textarea{
                background: #111;
                border-color: #111;
                color: #fff;
    
                &:focus{
                    border-color: var(--tp-theme-1);
                }
            }
            &-2{
                & input,
                & textarea{
                    background: #111;
                    border-color: #111;
                    color: #fff;
    
                    &:focus{
                        border-color: var(--tp-theme-1);
                    }
                }
            }
        }
        .contact__form-agree input{
            background: #111;
            border-color: #fff;
        }
        .contact__form-agree input:checked{
            background-color: var(--tp-theme-1);
            border-color: var(--tp-theme-1);
        }
    }
    .contact__form-agree input{
        background: #000000;
        border-color: #fff;
    }
    .contact__form-agree input:checked{
        background-color: var(--tp-theme-1);
        border-color: var(--tp-theme-1);
    }
    .contact__form-agree label a{
        color: var(--tp-text-1);

        &:hover{
            color: var(--tp-theme-1);
        }
    }
    .contact__info{
        background: #141515;
    }
    .contact__info-inner{
        background: #141515;
    }

    .contact__info-text h4{
        color: var(--tp-common-white);
    }
    .contact__social ul li a.pin{
        color: #fff;
        background: #d8163f;

        &:hover{
            color: #d8163f;
            background-color: #fff;
        }
    }
    .contact__social ul li a.tw{
        color: #fff;
        background: #03a9f4;

        &:hover{
            color: #03a9f4;
            background-color: #fff;
        }
    }
    .contact__social ul li a.fb{
        color: #fff;
        background: #285da1;

        &:hover{
            color: #285da1;
            background-color: #fff;
        }
    }
    .footer__info-content p{
        color: var(--tp-common-white);
    }

    #footer-link-inline{
        border-color: #2C2F2F;
    }
    #footer-link-inline li a{
        color: var(--tp-common-white);
        &:hover{
            color: #FD4766;
        }
    }
    .footer__copyright p{
        color: var(--tp-common-white);
    }
    .footer__area{
        background-color: #141515;
    }
    .footer__top {
        border-top: 1px solid #2C2F2F;
    }
    .country-select select{
        border-color: #2C2F2F;
        outline: 0;
        background-color: #181818;

        &:focus{
            border-color: #2C2F2F;
        }
    }
}