@use '../utils' as *;

/*----------------------------------------*/
/*  22. Shop CSS START
/*----------------------------------------*/
.shop-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--tp-grey-1);
    @include border-radius(5px);
    @media #{$xs} {
        display: block;
    }
}
.search-result{
    font-size: 15px;
    font-weight: var(--tp-fw-medium);
    display: block;
    color: var(--tp-heading-primary);
}
.shop-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$xs} {
       margin-top: 15px; 
    }
}
.shop-nav{
    display: flex;
    margin-right: 100px;
    @media #{$md} {
        margin-right: 70px;
    }
    @media #{$sm} {
        margin-right: 50px;
    }
    @media #{$xs} {
        margin-right: 30px;
    }
    &-item{
        & i{
            font-size: 15px;
            color: var(--tp-heading-primary);
        }
        margin-right: 10px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }
}
.select-option{
    & .nice-select{
        border: 0;
        padding: 0;
        font-size: 15px;
        font-weight: var(--tp-fw-medium);
        color: var(--tp-heading-primary);
        height: auto;
        line-height: 1.1;
        padding-right: 40px;
        position: relative;
        &::after{
            width: 10px;
            height: 10px;
            top: 35%;
            border-color: var(--tp-heading-primary);
        }
    }
}
.product{
    &-title{
        font-size: 18px;
        font-weight: var(--tp-fw-medium);
        &:hover{
            color: var(--tp-theme-1);
        }
    }
    &-price{
        font-size: 18px;
        font-weight: var(--tp-fw-medium);
        color: #777B83;
        display: block;
    }
    &-rating{
        & a{
            font-size: 18px;
            color: #F7931E;
        }
    }
    &-image{
        overflow: hidden;
        border-radius: 5px;
        & img{
            transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
            width: 100%;
        }
    }
    &-item{
        &:hover{
            .product-image img{
                transform: scale3d(1.1, 1.1, 1.1);
            }
        }
    }
    &-thumb{
        position: relative;
    }
}
.sale-tag {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 9;
    & span {
        background: var(--tp-theme-1);
        color: var(--tp-common-white);
        text-transform: uppercase;
        font-weight: var(--tp-fw-sbold);
        font-size: 12px;
        position: relative;
        text-align: center;
        z-index: 9;
        display: block;
        padding: 0 12px;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;
    }
}
.product-dinfo{
    display: flex;
}
.product__details-nav{
    & .nav-tabs .nav-link.active {
       border-color: var(--tp-theme-1);
    }
    & .nav-tabs .nav-link {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    & .nav-tabs .nav-link {
        border: 1px solid transparent;
        margin-bottom: 20px;
        padding: 0;
        @media #{$xs} {
            margin-top: 20px;

        }
    }
    & .nav-tabs {
        border-bottom: 0;
    }
    &-thumb{
        margin-right: 20px;
        @media #{$xs} {
            margin-right: 0;
        }
    }
}
.review-count{
    font-size: 14px;
    font-weight: var(--tp-fw-medium);
    color: var(--tp-heading-primary);
    margin-left: 15px;
}
.product-dtitle{
    font-weight: var(--tp-fw-regular);
    font-size: 30px;
    line-height: 1.3;
    & b{
        font-weight: var(--tp-fw-sbold);
    }
}
.product-dprice{
    font-size: 30px;
    font-family: var(--tp-ff-body);
    & del{
        font-size: 20px;
        color: #B9B9B9;
    }
}
.model-list{
    & a{
        font-size: 12px;
        font-weight: var(--tp-fw-sbold);
        color: #777B83;
        background: #F4F4F4;
        display: inline-block;
        padding: 0 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
}
.product-model-title{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: var(--tp-fw-medium);
}
.cart-plus-minus{
    width: 180px;
    position: relative;
}
.cart-plus-minus input {
    border: 0px;
    outline: 0px;
    background: none;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    display: inline-block;
    height: 45px;
    list-style: 45px;
    padding: 0 50px;
    width: 180px;
    border: 1px solid #ebebeb;
    text-align: center;
    border-radius: 0;
}
.cart-plus-minus .qtybutton {
    font-size: 20px;
    color: #222;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 22px;
    width: 22px;
    background: transparent;
    border-radius: 30px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    transform: translateY(-50%);
}
.cart-plus-minus .dec {
    left: 20px;
}
.cart-plus-minus .inc {
    right: 20px;
}
.product-quantity-title{
    font-size: 14px;
    font-weight: var(--tp-fw-medium);
    color: var(--tp-heading-primary);
    text-transform: uppercase;
    margin-right: 15px;
}
// product-tabs css
.product-tabs{
    border: none;
}
.product-tab-item{
    margin-right: 35px;
    margin-bottom: 15px
}
.product-tabs .product-tab-button{
    font-size: 16px;
    font-weight: var(--tp-fw-medium);
    text-transform: uppercase;
    color: #777B83;
    padding: 17px 54px;
    border: none;
    position: relative;
    border: 1px solid #F1F1F1;
    border-radius: 0;
    letter-spacing: 1px;
    @media #{$xs} {
        padding: 15px 15px;
    }
}
.product-tabs .product-tab-button.active{
    background: var(--tp-theme-1);
    color: var(--tp-common-white);
    border-color: var(--tp-theme-1);
}
.product__desc-info{
    padding-top: 30px;
    & ul li {
        @media #{$xs} {
            padding: 15px 15px;
        }
        display: flex;
        align-items: center;
        padding: 15px 30px;
    }
    & ul li:nth-child(2n+1) {
        background: #f7f7f7;
    }
    & ul li h6 {
        @media #{$xs} {
            width: 60%;
        }
        font-size: 16px;
        color: #454545;
        margin-bottom: 0;
        font-weight: var(--tp-fw-medium);
        display: inline-block;
        width: 25%;
    }
    & ul li span {
        font-size: 16px;
        color: #454545;
    }
}
.product-button {
    @media #{$xs} {
        & a{
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}
//review css
.review-rate{
    & h5 {
        font-size: 100px;
        letter-spacing: -.025em;
        color: #5aab19;
        font-weight: 400;
        line-height: 0.8;
        & span{
            font-size: 24px;
        }
    }
    .review-star{
        & a{
            & .fa-star{
                color: #F7931E;
            }
        }
    }
}
.review-count{
    font-size: 14px;
}
.review-des-infod{
    & h6{
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: var(--tp-fw-medium);
        & span{
            display: inline-block;
            color: #83878E;
        }
    }
}
.review-details-des{
    display: flex;
    & .author-image{
        & img{
            border-radius: 50%;
        }
    }
    & p{
        @media #{$xs,$sm,$md,$xl} {
            & br{
                display: none;
            }
        }
    }
}
.review-details-content{
    & .str-info{
        display: flex;
        align-items: center;
    }
    & .review-star{
        & a{
            & .fa-star{
                color: #F7931E;
            }
        }
    }
    & .name-date{
        & h6{
            font-size: 16px;
            text-transform: capitalize;
            & span{
                color: #83878E;
                display: inline-block;
                font-weight: 400;
            }
        }
    }
}
.add-review-option{
    & a{
        font-size: 14px;
        &:hover{
            color: var(--tp-theme-1);
        }
    }
}
//comment-area
.comment-title h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.comment-title p {
    color: #454545;
}
.comment-rating span {
    font-size: 15px;
    color: #454545;
    margin-right: 5px;
}
.comment-rating ul li {
    display: inline-block;
}
.comment-rating ul li a {
    font-size: 14px;
    color: #F7931E;
}
.comment-rating ul {
    display: inline-block;
}
#flexCheckDefault {
    top: 5px;
    position: relative;
}
.comment-agree input{
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 2px solid #dadada;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}
.comment-agree label {
    margin-left: 5px;
    font-size: 15px;
    color: #454545;;
}
.comment-agree input::placeholder {
	color: #858585;
	font-size: 14px;
	opacity: 1;
}
.comment-input input,
.comment-textarea{
    width: 100%;
    height: 56px;
    line-height: 54px;
    padding: 0 23px;
    background: #f3f4f8;
    @include border-radius(4px);
    border: 2px solid #f3f4f8;
    color: var(--tp-common-black);
    font-size: 15px;
    margin-bottom: 20px;
    &::placeholder{
        font-size: 15px;
        color: #6d6e75;
    }
    &:focus{
        border-color: var(--tp-theme-1);
        outline: none;
        background: var(--tp-common-white);
    }
    &:focus{
        border: 1px solid var(--tp-theme-1);
    }
}

.comment-input input::placeholder {
	color: #858585;
	font-size: 14px;
	opacity: 1;
}
.comment-textarea{
    height: 180px;
    padding: 23px 25px;
    line-height: 1.1;
    resize: none;
    margin-bottom: 13px;
    &:focus{
        border: 1px solid var(--tp-theme-1);
    }
}
.comment-textarea::placeholder {
	color: #858585;
	font-size: 14px;
	opacity: 1;
}

// related product
.related-product-title{
    font-size: 30px;
    font-weight: var(--tp-fw-regular);
    & b{
        font-weight: var(--tp-fw-sbold);
    }
}
.select-option select{
    border: none;
    font-weight: 500;
}
.select-option select:focus-visible{
    outline: none;
}