$colors: (
    common: (
        white: #ffffff,
        black: #000000,
        black-soft: #181818,
        black-2: #141515,
    ),
    heading: (
        primary: #141515,
    ),
    grey: (
        1:#ECEFF4,
        2: #F7F7F9,
        3: #A4A6AA,
        4: #C4C4C4,
        5: #A0A2A4,
    ),
    purpule: (
        1:#7644FF,
        2:#A584FF,
    ),
    blue: (
        1: #1C99FE,
    ),
    text: (
        body:#777B83,
        1:#777B83,
    ),
    theme: (
        1: #FD4766,

    ),
    border: (
        1: #E7E9EE,
        2: #D9DDE8,
        3: #313333,
        4: #2C2F2F,
    )
);
